In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import pandas_profiling

In [2]:
df=pd.read_csv("train.csv",index_col=0)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [4]:
X=df[["Pclass","Sex",'Age']]
y= df[["Survived"]]

In [5]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y)

In [6]:
Xtrain.shape

(668, 3)

In [7]:
Xtrain=pd.get_dummies(data=Xtrain,columns=["Sex"],drop_first=True)

In [8]:
Xtrain

             Pclass   Age  Sex_male
PassengerId
574               3   NaN         0
738               1  35.0         1
38                3  21.0         1
125               1  54.0         1
455               3   NaN         1
...             ...   ...       ...
469               3   NaN         1
786               3  25.0         1
352               1   NaN         1
149               2  36.5         1
673               2  70.0         1

[668 rows x 3 columns]

In [9]:
Xtest=pd.get_dummies(data=Xtest,columns=["Sex"],drop_first=True)

In [10]:
Xtest

             Pclass   Age  Sex_male
PassengerId
47                3   NaN         1
817               3  23.0         0
329               3  31.0         0
712               1   NaN         1
452               3   NaN         1
...             ...   ...       ...
780               1  43.0         0
92                3  20.0         1
597               2   NaN         0
759               3  34.0         1
374               1  22.0         1

[223 rows x 3 columns]

In [11]:
Xtrain["Age"]= Xtrain.Age.fillna(Xtrain.Age.median())

In [12]:
Xtest["Age"]= Xtest.Age.fillna(Xtest.Age.median())

In [13]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 574 to 673
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    668 non-null    int64
 1   Age       668 non-null    float64
 2   Sex_male  668 non-null    uint8
dtypes: float64(1), int64(1), uint8(1)
memory usage: 16.3 KB

In [14]:
rf=RandomForestClassifier(n_estimators=100,max_depth=10)

In [15]:
rf.fit(Xtrain,ytrain)

<ipython-input-15-498ad37f40d8>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(Xtrain,ytrain)

RandomForestClassifier(max_depth=10)

In [16]:
ypred=rf.predict(Xtest)

In [17]:
accuracy_score(ypred,ytest)

0.7847533632286996

Kaggle Predictions

In [21]:
test_data=pd.read_csv('test.csv',index_col=0)

In [22]:
test_data =test_data[["Pclass","Sex",'Age']]

In [23]:
test_data=pd.get_dummies(data=test_data,columns=["Sex"],drop_first=True)

In [24]:
test_data["Age"]= test_data.Age.fillna(Xtrain.Age.median())

In [25]:
kaggle_pred= rf.predict(test_data)

In [27]:
test_data

             Pclass   Age  Sex_male
PassengerId
892               3  34.5         1
893               3  47.0         0
894               2  62.0         1
895               3  27.0         1
896               3  22.0         0
...             ...   ...       ...
1305              3  28.0         1
1306              1  39.0         0
1307              3  38.5         1
1308              3  28.0         1
1309              3  28.0         1

[418 rows x 3 columns]

In [34]:
kaggle_submit=pd.DataFrame({'PassengerId':test_data.index,'Survived':kaggle_pred	})

In [37]:
kaggle_submit = kaggle_submit.set_index('PassengerId')

In [38]:
kaggle_submit.to_csv("KaggleSubmit.csv")